.container{
    background-color: #f6efee;
}
hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.manabilde {
    width: 400px;
    height: auto;
}
.carousel-item img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-padding-top: 70px; /* header augstums */
  background-color: #d5c9cb;
}
.Stils {
font-size: large;
}
body {
    font-family: 'Raleway', sans-serif;
}
